body{
    color:lightpink;
    background-color:rgb(57, 7, 104);
    font-family: "Geostar", 
    cursive;
}

h1 {
    margin: 15px;
    border: solid 4px;
    border-color: darkgreen;
    padding: 20px;
}

#name{
    font: bold 26px Arial;
    color: lightblue;
}